* {box-sizing: border-box
}
body{
    background-color: rgb(0, 207, 155);
    /*background-image: url(img/background.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgb(231, 231, 231);
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(206, 206, 206);
  outline: none;
}

hr {
  border: 1px solid  rgb(206, 206, 206);
  margin-bottom: 25px;
}


button {
  background-color:rgb(0, 124, 196);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancel {
  padding: 14px 20px;
  color: black;
  background-color: rgb(255, 255, 93);
}

/* Float cancel and signup buttons and add an equal width */
.cancel, .sign {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
  background-color: rgb(0, 207, 155);
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancel, .sign {
    width: 100%;
  }
}